<section fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z8" fxLayout="column" fxFlex="80">
        <mat-card-title>My bookings</mat-card-title>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoadingResults"></mat-progress-bar>
        <mat-table [dataSource]="dataSource"
                   matSort
                   matSortActive="name"
                   matSortDisableClear
                   matSortDirection="desc">

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="numberOfSeats">
                <mat-header-cell *matHeaderCellDef>Number of seats</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.numberOfSeats}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="numberOfStops">
                <mat-header-cell *matHeaderCellDef>Number of stops</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.numberOfStops}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button color="warn" (click)="deleteBooking(row.flightId, row.flightId)">
                        <mat-icon class="mat-18">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
    </mat-card>
</section>
