<main class="home-container" fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxFlex="50">
        <mat-card-header>
            <mat-card-title>Travel is never a matter of money, but of courage.</mat-card-title>
            <mat-card-subtitle>Pick up your flight today.</mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="searchForm" (ngSubmit)="search()">
            <mat-card-content fxLayoutGap="20px">
                <mat-form-field>
                    <mat-select placeholder="State" formControlName="stateFrom" (selectionChange)="onStateChange($event, 'from')">
                        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('stateFrom', 'required')">
                        State is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="From" formControlName="from" [errorStateMatcher]="sameValueMatcher">
                        <mat-option *ngFor="let fromAirport of airports['from']" [value]="fromAirport.id">{{fromAirport.name}} - {{fromAirport.city}} ({{fromAirport.icao}})</mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('from', 'required')">
                        From is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="State to" formControlName="stateTo" (selectionChange)="onStateChange($event, 'to')">
                        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('stateTo', 'required')">
                        State is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="To" formControlName="to" [errorStateMatcher]="sameValueMatcher">
                        <mat-option *ngFor="let toAirport of airports['to']" [value]="toAirport.id">{{toAirport.name}} - {{toAirport.city}} ({{toAirport.icao}})</mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('to', 'required')">
                        Destination is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="searchForm.hasError('valuesAreSame')">
                        Origin and destination could not be the same
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="departurePicker" placeholder="Departure"
                           formControlName="departure" (click)="departurePicker.open()">
                    <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
                    <mat-datepicker #departurePicker></mat-datepicker>
                    <mat-error *ngIf="hasError('departure', 'required')">
                        The departure date is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Number of stops" formControlName="numberOfStops" (selectionChange)="onStopChange($event)">
                        <mat-option [value]="-1">Any</mat-option>
                        <mat-option [value]="0">Nonstop (direct)</mat-option>
                        <mat-option [value]="1">Up to 1 stop</mat-option>
                        <mat-option [value]="2">Up to 2 stops</mat-option>
                        <mat-option [value]="3">Custom stops</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="showCustomStop">
                    <mat-label>Number of stops</mat-label>
                    <input matInput type="number" formControlName="customStop" min="0">
                </mat-form-field>

                <div fxLayoutGap="20px">
                    <mat-card *ngIf="showFirstStop || showSecondStop" fxFlex="50">
                        <mat-card-header>
                            <mat-card-title>First stop</mat-card-title>
                        </mat-card-header>
                        <mat-card-content fxLayoutGap="20px">
                            <mat-form-field>
                                <mat-select placeholder="State" (selectionChange)="onStateChange($event, 'firstStop')">
                                    <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-select placeholder="First stop airport" formControlName="firstStop" [errorStateMatcher]="sameValueMatcher">
                                    <mat-option *ngFor="let firstStopAirport of airports['firstStop']" [value]="firstStopAirport.id">{{firstStopAirport.name}} - {{firstStopAirport.city}} ({{firstStopAirport.icao}})</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-card-content>
                    </mat-card>

                    <mat-card *ngIf="showSecondStop" fxFlex="50">
                        <mat-card-header>
                            <mat-card-title>Second stop</mat-card-title>
                        </mat-card-header>
                        <mat-card-content fxLayoutGap="20px">
                            <mat-form-field>
                                <mat-select placeholder="State" (selectionChange)="onStateChange($event, 'secondStop')">
                                    <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-select placeholder="Second stop airport" formControlName="secondStop" [errorStateMatcher]="sameValueMatcher">
                                    <mat-option *ngFor="let secondStopAirport of airports['secondStop']" [value]="secondStopAirport.id">{{secondStopAirport.name}} - {{secondStopAirport.city}} ({{secondStopAirport.icao}})</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-card-content>
                    </mat-card>
                </div>
                

            </mat-card-content>
            <mat-card-actions fxLayoutAlign="end">
                <button mat-raised-button color="primary" [disabled]="!searchForm.valid">Search</button>
            </mat-card-actions>
        </form>
    </mat-card>
    <mat-progress-bar fxLayout="column" fxFlex="70" mode="indeterminate" *ngIf="!showProgressBar"></mat-progress-bar>
    <section fxFlex="100"
             fxLayout="column"
             fxLayoutAlign="center center"
             class="journays-container">

        <mat-card class="journay-item"
                  fxLayoutGap="20px"
                  fxFlex="100%"                  
                  *ngFor="let flights of journays">

            <mat-card-content>
                <section fxFlex="80" class="journay-details">
                    <div *ngFor="let flight of flights" fxLayout="row" fxLayoutAlign="center center">
                        <span fxFlex="50" fxLayoutGap="20px">
                            {{flight.originAirportInfo.split(' - ')[1]}}
                            <i class="material-icons" style="vertical-align:middle;">
                                arrow_right_alt
                            </i>
                            {{flight.destinationAirportInfo.split(' - ')[1]}}
                        </span>
                        <p fxFlex="20" fxLayoutGap="20px">{{flight.departure | date}}</p>
                        <p fxFlex="20" fxLayoutGap="20px">{{flight.duration}}</p>
                    </div>
                </section>

                <mat-card-actions fxFlex="20" fxLayoutAlign="center center" class="journay-actions" *ngIf="!isAdmin">
                    <button mat-flat-button color="primary" (click)="bookJournay(flights)">Book</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </section>
</main>
